#myDiv{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
    color:rgb(70, 66, 66);
    margin: 0px;
}

body{
    margin:10;
    padding: 10;
    background-color: rgb(194, 166, 133);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.naglowki{
    display:inline-block;
}

#projektyNieParzyste{
    background-color: rgb(101, 163, 163);
}

#projektyParzyste{
    background-color: rgb(108, 180, 180);
}