#naglowek{
    font-size: 1.5em;
    background-color: rgb(28, 37, 88);
    color: rgb(83, 83, 201);
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 10px 10px 10px;
}

body{
    margin: 0px;
    background-color: rgb(63, 73, 129);
    font-weight: bold;
}

#galeria{
    margin:10px;
}

.general_div{
    display: inline-block;
    margin: 5px;
    font-size: 1.5em;
    padding: 10px;
    border: 2px solid rgb(28, 37, 88);
    border-radius: 10px;
    box-shadow: 2px 2px black;
    text-decoration: none;
    color: black;
}

.general_div:hover{
    color:rgb(22, 29, 71);
}

.zdjecia{
    height: 250px;
}

.general_div .description{
    text-align: center;
    padding:10px;
}